.page {
  max-width: 1280px;
  min-height: 100%;
  background-image: url("../images/backeground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  margin: 0 auto;
}
